.chats_list_block {
  width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height:80%;

  .chats_list_wrapper {
    padding-top:80px;

    padding-left:10px;
    padding-right:10px;

    .search_chat_name{
      margin-bottom: 0;
    }

    .chats_list {
      overflow-y: auto;
      flex-grow: 1;
    }
  }
}